body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header section */

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    color: #007bff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Here is the Hero Section */
.hero {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.project-box {
    flex: 1 0 20%;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 100%; /* or the size you want */
    height: 200px; /* or the size you want */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.title-container {
    width: 100%;
}

.title-container h2 {
    width: 100%;
}

.title-container h2 a {
    text-decoration: none;
    color: inherit;
}

.title-container h2 a:hover {
    color: #007bff;
}
/* Footer */

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: #007bff;
}
